<!DOCTYPE html>
<html lang="en">

<head>
    <title>Harã Heique - Portfolio Online</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../css/general-styles.css">
    <link type="text/css" rel="stylesheet" href="../css/menu-hambuguer.css">
    <script type="text/javascript" src="../js/scripts.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="open">
                <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
            </div>
            <div class="slide-nav" id="slide-nav">
                <div class="head">
                    <div class="close">
                        <i class="fa fa-times-circle" aria-hidden="true" onclick="closeNav()"></i>
                    </div>
                </div>
                <ul class="topnav">
                    <li><a href="#">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="curriculo.html">Curriculum</a></li>
                    <li><a href="contato.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <article class="capa">
            <section class="profile-pic">
                <img src="../img/profile-home1.jpeg" alt="Harã Heique Photo" title="Profile Heik's Portfolio">
            </section>
            <section class="profile-title">
                <h1>Harã Heique<span>dos Santos</span></h1>
                <h2>Web Developer - Academic Student - Software Architecture Lover</h2>
            </section>
        </article>
    </main>
</body>

</html>