<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio - TimeConnect PPM</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../css/general-styles.css">
    <link type="text/css" rel="stylesheet" href="../css/menu-hambuguer.css">
    <script type="text/javascript" src="../js/scripts.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="open">
                <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
            </div>
            <div class="slide-nav" id="slide-nav">
                <div class="head">
                    <div class="close">
                        <i class="fa fa-times-circle" aria-hidden="true" onclick="closeNav()"></i>
                    </div>
                </div>
                <ul class="topnav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="curriculo.html">Curriculum</a></li>
                    <li><a href="contato.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="content">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><span>Time-Connect PPM</span></li>
            </ul>
            <article>
                <h1>Time-Connect PPM</h1>
                <img class="foto-trabalhos" src="../img/trabalhos/timeconnect-GPP1.png" alt="TC Initial Figure" title="TimeConnect PPM">

                <h2>About Project</h2>
                <p>It consists of a private project, where the owner is Time-Now Engenharia, which is a company that 
                promotes activities and services related to project management processes.</p>
                <a href="http://www.timenow.com.br/en/" target="_blank">
                    <img style="width:100%;" class="foto-trabalhos" src="../img/trabalhos/timeconnect-timenow2.jpg" alt="TimeNow Image" title="TimeNow Engenharia">
                </a>
                
                <p>All Time-Connect software development takes place at AEVO (where I work as a developer), 
                a Time-Now company that works to promote IT solutions focused on project management and other areas.</p>
                <a href="http://www.aevo.com.br/" target="_blank">
                    <img class="foto-trabalhos" src="../img/trabalhos/timeconnect-aevo1.jpg" alt="AEVO Image" title="AEVO Company">
                </a>

                <p>The software is focused on the Project Portfolio Management (PPM) service, which consists of
                management of a collection of projects in order to ensure compliance with the objectives of organizations.</p>
                <a href="http://www.timenow.com.br/timeconnect/" target="_blank">
                    <img class="foto-trabalhos" src="../img/trabalhos/timeconnect-portfolioprojetos.png" alt="TimeConnect Portfolios" title="TimeConnect Projects Portfolio">
                    <img style="width: 100%;" class="foto-trabalhos" src="../img/trabalhos/timeconnect-aplicativomobile.png" alt="TimeConnect Mobile App" title="TimeConnect Mobile App">
                </a>

                <p>The main idea is that in a single environment it is possible to gather all the management data of the 
                projects, and it is possible that all stakeholders can access, from anywhere and anytime, the same information 
                in an accurate and reliable way.</p>
                <a href="http://www.timenow.com.br/timeconnect/" target="_blank">
                    <img class="foto-trabalhos" src="../img/trabalhos/timeconnect-dashboards.png" alt="TimeConnect Dashbords" title="TimeConnect Dashboards">
                </a>

                <h2>Related links:</h2>
                <p>
                    <a class="link" href="http://www.timenow.com.br/en/" target="_blank">Time-Now Engenharia</a><br>
                    <a class="link" href="http://www.aevo.com.br/" target="_blank">AEVO</a><br>
                    <a class="link" href="http://www.timenow.com.br/timeconnect/" target="_blank">Time-Connect</a><br>
                    <a class="link" href="http://www.timenow.com.br/en/business/process/" target="_blank">Time-Now business process</a><br>
                </p> -->
            </article>
        </section>
    </main>
</body>

</html>