<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio - Aprendendo Inglês</title>
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../../css/general-styles.css">
    <link type="text/css" rel="stylesheet" href="../../css/menu-hambuguer.css">
    <script type="text/javascript" src="../../js/scripts.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="open">
                <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
            </div>
            <div class="slide-nav" id="slide-nav">
                <div class="head">
                    <div class="close">
                        <i class="fa fa-times-circle" aria-hidden="true" onclick="closeNav()"></i>
                    </div>
                </div>
                <ul class="topnav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../portfolio.html">Portfolio</a></li>
                    <li><a href="../curriculo.html">Curriculum</a></li>
                    <li><a href="../contato.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="content">
            <ul class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="../portfolio.html">Portfolio</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><span>Aprendendo Inglês</span></li>
            </ul>
            <article>
                <h1>Aprendendo Inglês</h1>
                <img class="foto-trabalhos" src="../../img/trabalhos/aprendendo-ingles/homepage.png" alt="Homepage" title="Homepage">

                <h2>About Project</h2>
                <p>This is a really simple project made in <a class="link" target="_blank" href="https://angular.io/">Angular</a> and
                with the main purpose of learning how to use the basics concepts.</p>
                
                <p>Basically is a game where the user translates a couple of words in english to portuguese (Brazil).
                I made this simple application when I was learning Angular from a course on <a class="link" target="_blank" href="https://www.udemy.com/">Udemy</a>.</p>
                <img class="foto-trabalhos" src="../../img/trabalhos/aprendendo-ingles/tela-perdeu.png" alt="You Lose" title="You Lost Screen">
                <img class="foto-trabalhos" src="../../img/trabalhos/aprendendo-ingles/tela-ganhou.png" alt="You Win" title="You Won Screen">

                <h2>Related links:</h2>
                <p>
                    <a class="link" href="https://haraheique.github.io/jogo-aprendendo-ingles/" target="_blank">Aprendendo Inglês website</a><br>
                    <a class="link" href="https://github.com/HaraHeique/jogo-aprendendo-ingles" target="_blank">Source code</a><br>
                    <a class="link" href="https://www.udemy.com/course/curso-de-desenvolvimento-web-com-es6-typescript-e-angular-4/" target="_blank">Course</a><br>
                </p>
            </article>
        </section>
    </main>
</body>

</html>