<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio - Instagram Clone</title>
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../../css/general-styles.css">
    <link type="text/css" rel="stylesheet" href="../../css/menu-hambuguer.css">
    <script type="text/javascript" src="../../js/scripts.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="open">
                <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
            </div>
            <div class="slide-nav" id="slide-nav">
                <div class="head">
                    <div class="close">
                        <i class="fa fa-times-circle" aria-hidden="true" onclick="closeNav()"></i>
                    </div>
                </div>
                <ul class="topnav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../portfolio.html">Portfolio</a></li>
                    <li><a href="../curriculo.html">Curriculum</a></li>
                    <li><a href="../contato.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="content">
            <ul class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="../portfolio.html">Portfolio</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><span>Instagram Clone</span></li>
            </ul>
            <article>
                <h1>Instagram Clone</h1>
                <img class="foto-trabalhos" src="../../img/trabalhos/instagram-clone/homepage.png" alt="Instagram Clone Login" title="Homepage">

                <h2>About Project</h2>
                <p>It's a simple project using the <a class="link" target="_blank" href="https://angular.io/">Angular</a> and
                <a class="link" target="_blank" href="https://firebase.google.com/">Firebase</a> with the main purpose of learning.</p>
                
                <p>In this application you can basically create users and perform the authenticated login, in addition to making 
                photos/images publications, like in <a class="link" target="_blank" href="https://www.instagram.com/">Instagram</a>.
                You can check details of the application click <a class="link" target="_blank" href="https://haraheique.github.io/clone-instagram/">this link</a>.</p>
                <img class="foto-trabalhos" src="../../img/trabalhos/instagram-clone/instagram-post.png" alt="Instagram Publication" title="Example of publication">

                <h2>Related links:</h2>
                <p>
                    <a class="link" href="https://haraheique.github.io/clone-instagram/" target="_blank">Instagram Clone Website</a><br>
                    <a class="link" href="https://github.com/HaraHeique/clone-instagram" target="_blank">Source code</a><br>
                    <a class="link" href="https://www.instagram.com/" target="_blank">Instagram</a><br>
                </p>
            </article>
        </section>
    </main>
</body>

</html>