<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio - Metallica Albums</title>
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../../css/general-styles.css">
    <link type="text/css" rel="stylesheet" href="../../css/menu-hambuguer.css">
    <script type="text/javascript" src="../../js/scripts.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="open">
                <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
            </div>
            <div class="slide-nav" id="slide-nav">
                <div class="head">
                    <div class="close">
                        <i class="fa fa-times-circle" aria-hidden="true" onclick="closeNav()"></i>
                    </div>
                </div>
                <ul class="topnav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../portfolio.html">Portfolio</a></li>
                    <li><a href="../curriculo.html">Curriculum</a></li>
                    <li><a href="../contato.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="content">
            <ul class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="../portfolio.html">Portfolio</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><span>Metallica Albums</span></li>
            </ul>
            <article>
                <h1>Metallica Albums</h1>
                <img class="foto-trabalhos" src="../../img/trabalhos/metallica-albums/albums.png" alt="Metallica Albums" title="Metallica Albums">

                <h2>About Project</h2>
                <p>This is a really simple project made in pure <a class="link" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>, 
                <a class="link" target="_blank" href="https://jquery.com/">Jquery</a> and <a class="link" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>.</p>
                
                <p>When a card <i>Check Out</i> button is clicked redirect to <a class="link" target="_blank" href="https://www.youtube.com/">Youtube</a> page with the 
                respective album. And when a card <i>Buy Now!</i> button is clicked redirect to <a class="link" target="_blank" href="https://www.metallica.com/store/">Metallica store</a>.</p>

                <h2>Related links:</h2>
                <p>
                    <a class="link" href="https://haraheique.github.io/metallica-albums-store/" target="_blank">Metallica Album website</a><br>
                    <a class="link" href="https://github.com/HaraHeique/metallica-albums-store" target="_blank">Source code</a><br>
                </p>
            </article>
        </section>
    </main>
</body>

</html>